shield/flows.json
[{"id":"5d6903d8.83205c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0a2f5ed.e8a4c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#636363","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#636363","edited":true},"page-titlebar-backgroundColor":{"value":"#636363","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#898989","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#636363","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":32,"sy":32,"gx":2,"gy":2,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc1f30ec.bc3ad","type":"ui_tab","z":"","name":"dbt-shield","icon":"dashboard","disabled":false,"hidden":false},{"id":"762c1aca.32af64","type":"ui_group","z":"","name":"1","tab":"cc1f30ec.bc3ad","order":1,"disp":false,"width":"8","collapse":false},{"id":"115d5f24.833261","type":"ui_group","z":"","name":"2","tab":"cc1f30ec.bc3ad","order":2,"disp":false,"width":"8","collapse":false},{"id":"65d29c63.f205e4","type":"ui_group","z":"","name":"3","tab":"cc1f30ec.bc3ad","order":3,"disp":false,"width":"4","collapse":false},{"id":"9818a7bf.c119b8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"8b6b575a.0f4c98","type":"ui_spacer","name":"spacer","group":"115d5f24.833261","order":2,"width":8,"height":1},{"id":"6a630385.6ee99c","type":"ui_spacer","name":"spacer","group":"65d29c63.f205e4","order":5,"width":4,"height":1},{"id":"55ffe96a.999a68","type":"ui_spacer","name":"spacer","group":"65d29c63.f205e4","order":6,"width":4,"height":1},{"id":"4bed6ee9.974a4","type":"ui_spacer","name":"spacer","group":"65d29c63.f205e4","order":7,"width":4,"height":1},{"id":"91c91520.2571e8","type":"ui_spacer","name":"spacer","group":"65d29c63.f205e4","order":8,"width":4,"height":1},{"id":"477fb5a.a72e94c","type":"ui_gauge","z":"5d6903d8.83205c","name":"","group":"762c1aca.32af64","order":1,"width":8,"height":5,"gtype":"donut","title":"heater","label":"C","format":"{{value}}","min":0,"max":"300","colors":["#cec827","#bf7a2b","#bf3131"],"seg1":"","seg2":"","x":930,"y":380,"wires":[]},{"id":"5a689c21.9e4024","type":"ui_chart","z":"5d6903d8.83205c","name":"","group":"762c1aca.32af64","order":4,"width":8,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"100","ymax":"300","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d23419","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":440,"wires":[[]]},{"id":"b36e46a8.bb36a8","type":"serial in","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":130,"y":500,"wires":[["42454155.ecf2a"]]},{"id":"42454155.ecf2a","type":"switch","z":"5d6903d8.83205c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"T","vt":"str"},{"t":"cont","v":"S","vt":"str"},{"t":"cont","v":"H","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":500,"wires":[["c2fbf7ed.445428"],["559b58e8.4b4078"],["45ade80e.f10dd8"]]},{"id":"6e94a7ff.f721b8","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"T","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["5a689c21.9e4024","477fb5a.a72e94c"]]},{"id":"2d0622b2.cb44ce","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"S","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["4337618.66b8ba"]]},{"id":"d5f5a7d5.c7a8b8","type":"ui_slider","z":"5d6903d8.83205c","name":"","label":"","tooltip":"","group":"762c1aca.32af64","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"120","max":"300","step":"10","x":370,"y":200,"wires":[["99dabd4e.93369"]]},{"id":"f7a0838f.027b4","type":"ui_button","z":"5d6903d8.83205c","name":"","group":"65d29c63.f205e4","order":9,"width":4,"height":2,"passthru":false,"label":"E-STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"M0","payloadType":"str","topic":"","x":200,"y":920,"wires":[["4e4e0a74.293234"]]},{"id":"4e4e0a74.293234","type":"serial out","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":470,"y":920,"wires":[]},{"id":"ebcdd74b.785218","type":"ui_button","z":"5d6903d8.83205c","name":"","group":"65d29c63.f205e4","order":1,"width":4,"height":3,"passthru":false,"label":"Extrude","tooltip":"","color":"","bgcolor":"","icon":"","payload":"G6 F20","payloadType":"str","topic":"","x":200,"y":980,"wires":[["ac9dba5e.5904d8"]]},{"id":"ac9dba5e.5904d8","type":"serial out","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":470,"y":980,"wires":[]},{"id":"4337618.66b8ba","type":"ui_gauge","z":"5d6903d8.83205c","name":"","group":"115d5f24.833261","order":1,"width":8,"height":5,"gtype":"donut","title":"Tool Speed","label":"mm/s","format":"{{value}}","min":0,"max":"220","colors":["#008fb3","#e69100","#ca3838"],"seg1":"","seg2":"","x":910,"y":500,"wires":[]},{"id":"c2fbf7ed.445428","type":"delay","z":"5d6903d8.83205c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":460,"wires":[["6e94a7ff.f721b8","187dae7e.9829a2"]]},{"id":"559b58e8.4b4078","type":"delay","z":"5d6903d8.83205c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":500,"wires":[["2d0622b2.cb44ce","951ca143.0a67c"]]},{"id":"fd39fea3.a7b9e","type":"serial out","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":470,"y":860,"wires":[]},{"id":"90109438.68a5e8","type":"ui_slider","z":"5d6903d8.83205c","name":"","label":"flow","tooltip":"","group":"115d5f24.833261","order":7,"width":8,"height":2,"passthru":true,"outs":"end","topic":"O","min":"0","max":10,"step":1,"x":200,"y":860,"wires":[["fd39fea3.a7b9e"]]},{"id":"9fb9664a.a3e868","type":"ui_switch","z":"5d6903d8.83205c","name":"","label":"Heater","tooltip":"","group":"762c1aca.32af64","order":3,"width":8,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":260,"wires":[["1ca92776.af06f9","bcbd8995.4a5028"]]},{"id":"187dae7e.9829a2","type":"ui_text","z":"5d6903d8.83205c","group":"65d29c63.f205e4","order":2,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":610,"y":420,"wires":[]},{"id":"11dcffc3.6dbab","type":"serial out","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":820,"y":260,"wires":[]},{"id":"1ca92776.af06f9","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"M105","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["11dcffc3.6dbab"]]},{"id":"951ca143.0a67c","type":"ui_text","z":"5d6903d8.83205c","group":"65d29c63.f205e4","order":3,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":610,"y":480,"wires":[]},{"id":"45ade80e.f10dd8","type":"delay","z":"5d6903d8.83205c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":540,"wires":[["69bc938d.d0cabc","b1f90519.613d28"]]},{"id":"69bc938d.d0cabc","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"S","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[[]]},{"id":"b1f90519.613d28","type":"ui_text","z":"5d6903d8.83205c","group":"65d29c63.f205e4","order":4,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":610,"y":540,"wires":[]},{"id":"99dabd4e.93369","type":"function","z":"5d6903d8.83205c","name":"","func":"msg.payload = \"M104 R\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["5f60aa75.74ee44"]]},{"id":"5f60aa75.74ee44","type":"debug","z":"5d6903d8.83205c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"bcbd8995.4a5028","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"M108","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["11dcffc3.6dbab"]]},{"id":"b9f016d3.0a45a8","type":"ui_switch","z":"5d6903d8.83205c","name":"","label":"Air","tooltip":"","group":"115d5f24.833261","order":3,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":740,"wires":[["60611b10.47f824","c7d243f4.24584"]]},{"id":"5e4552b5.d6a7fc","type":"serial out","z":"5d6903d8.83205c","name":"","serial":"9818a7bf.c119b8","x":660,"y":740,"wires":[]},{"id":"60611b10.47f824","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"M110 S1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":740,"wires":[["5e4552b5.d6a7fc"]]},{"id":"c7d243f4.24584","type":"change","z":"5d6903d8.83205c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"M110 S0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[["5e4552b5.d6a7fc"]]},{"id":"cef7c4cd.4ad598","type":"ui_switch","z":"5d6903d8.83205c","name":"","label":"out1","tooltip":"","group":"115d5f24.833261","order":4,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":1040,"wires":[[]]},{"id":"4c9c59d4.a4c958","type":"ui_switch","z":"5d6903d8.83205c","name":"","label":"out2","tooltip":"","group":"115d5f24.833261","order":5,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":1100,"wires":[[]]},{"id":"fb7b7db8.ed19a","type":"ui_switch","z":"5d6903d8.83205c","name":"","label":"out3","tooltip":"","group":"115d5f24.833261","order":6,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":1160,"wires":[[]]}]